<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples</title>
</head>
<body>
<h1>Examples:</h1>
<ul>
    <% for (var i = 0; i < examples.length; i++) { %>
    <li>
        <a href="/<%- examples[ i ] %>">
            <%- examples[ i ] %>
        </a>
    </li>
    <% } %>
</ul>
</body>
</html>