name: Publish

on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Read .nvmrc
        id: node_version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.node_version.outputs.NODE_VERSION }}

      - name: Installation
        run: npm ci

      - name: Type checking
        run: npm run typecheck

      - name: Linting code
        run: npm run lint

      - name: Build library
        run: npm run build

      - name: Test with coverage
        run: npm run test:coverage

      - name: Build documentation
        run: |
          npm run docs
          touch docs/.nojekyll

      - name: Publish to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          publish_dir: ./docs

      - name: Publish to Github Wiki
        uses: SwiftDocOrg/github-wiki-publish-action@v1
        with:
          path: wiki
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

      - name: Publish to npm
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_USER: ${{ secrets.NPM_USER }}
          NPM_EMAIL: ${{ secrets.NPM_EMAIL }}
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
          echo "//registry.npmjs.org/:username=$NPM_USER" >> .npmrc
          echo "//registry.npmjs.org/:email=$NPM_EMAIL" >> .npmrc
          echo "//registry.npmjs.org/:always-auth=true" >> .npmrc
          npm run lerna:publish

      - name: Publish to GitHub Releases
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: packages/*/dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
